{{# if hasCol_provider }}
    <td>
        {{ provider }}
    </td>
{{/if}}

{{# if hasCol_name }}
    <td>
        {{ name }}
    </td>
{{/if}}

{{# if hasCol_description }}
    <td>
        {{ description }} <br/>
        {{#if link }}
            <a href="{{ link }}" target="_blank">Więcej</a>
        {{/if}}
    </td>
{{/if}}

{{# if hasCol_price }}
    <td>
        {{ price }}zł/{{ unit }}
    </td>
{{/if}}

{{# if hasCol_order_max }}
    <td>
        {{ order_max }}
    </td>
{{/if}}

{{# if hasCol_avail_weights }}
    <td>
        <select>
            <option value="0">0</option>
            {{#each avail_weights}}
                <option value="{{ this }}" {{#equal this ../value }}selected="selected"{{/equal}}>{{ this }}</option>
            {{/each}}
        </select>
    </td>
{{/if}}

{{# if hasCol_total_price }}
    <td class="total_price">
        {{ total_price }} zł
    </td>
{{/if}}