<h2>Lista produktów</h2>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            {{#each cols }}
                <th>
                    {{ this }}
                </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>