<div class="users_select">
    <select name="user">
        <option value="" selected="selected">-----</option>
        {{#each items}}
            <option value="{{ id }}">{{ name }} - {{ fund }}</option>
        {{/each}}
    </select>
</div>