body
  background #FFFFFF

.application__message
  position absolute
  top 50%
  left 50%
  width 50%
  height 50%
  transform translate(-50%, -50%)
  z-index 100
  padding 20px
  background #eee
  color #000000
  &.success
    color #008000
  &.error
    color #FF0034
.blocked, .blocked td
  background #000
  color #fff
  select
    color #000

.pure-table
  thead th
    background #bb91fd
    border-bottom 1px solid #000

  tr:nth-child(odd)
    background-color #f2f2f2

.form_main
  max-width 80%
  position relative

.form-aside
  max-width 19%
  float right